<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
		
  <title>FIND KIM</title>
  

  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- fullPage -->
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage plugin by Alvaro Trigo. Pure javascript version of full screen slider." />
	<meta name="keywords"  content="fullpage,jquery,alvaro,trigo,plugin,fullscren,screen,full,iphone5,apple,pure,javascript,slider,hijacking" />
	<meta name="Resource-type" content="Document" />

	<!-- semantic Ui -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
	

	<!-- section 2 tile -->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!-- ----------- -->

	
</head>

<body>
<div id="fullpage">
      
	<!--section 0-->
	<div class="section " id="section0">
		<div class="content">
			
			<div class="section_title">
				<div class="section0_title">
					<h1>김서방 찾기</h1>
				</div>
			</div>
			
			<div class="section_content">
				<div class="section0_content_search">
					<div class="ui basic segment">
						<div class="ui fluid massive icon input">
							<form action="/fjob/search_result" method="post">
							<input type="text" placeholder="내가 아는 김서방" name="search_want">
							<input type="submit"><i class="search icon"></i></input>
							</form>
						</div>
					</div>
				</div>
			
				<!--<div class="section0_content_linker">-->
				<!--	<div class="ui basic segmnet">-->
				<!--		<div class="ui very relaxed horizontal list" >-->
				<!--			<div class="item">-->
				<!--				<a data-menuanchor="secondPage" href="#secondPage">찾으러 가기</a>-->
				<!--			</div>-->

				<!--			<div class="item">-->
				<!--				<a data-menuanchor="3rdPage" href="#3rdPage">오늘의 김서방</a>-->
				<!--			</div>-->
				<!--		</div>-->
				<!--	</div>-->
				<!--</div>-->
				
			</div>
		</div>
	</div>
    
    
	<!--section 1-->	
	<div class="section" id="section1">
		<div class="content">
			
			<div class="section_title">
				<div class="section1_title">
					<h1>SEARCH</h1>
				</div>
			</div>
			
			<div class="section_content">
				<div class="section1_content">
					<div class="ui very padded left aligned segment">

						<form class="ui form" action="/fjob/search_result" method="post">
							
							<div>
								<h4 class="ui left aligned header">CATEGORY</h4>
							</div>
							<div class="inline field">

											<div class="choose_content checkboxes">
												<input class="category_checkbox" type="checkbox" name="create" id="create" value="create"><label for="create" class="highlight check_catagory">CREATOR</label>

												<input class="category_checkbox" type="checkbox" name="edit" id="edit" value="edit"><label for="edit" class="highlight check_catagory">EDITOR</label>

												<input class="category_checkbox" type="checkbox" name="write" id="write" value="write"><label for="write" class="highlight check_catagory">WRITER</label>

												<input class="category_checkbox" type="checkbox" name="photo" id="photo" value="photo"><label for="photo" class="highlight check_catagory">PHOTOGRAPHER</label>

												<input class="category_checkbox" type="checkbox" name="design" id="design" value="design"><label for="design" class="highlight check_catagory">DESIGNER</label>

												<input class="category_checkbox" type="checkbox" name="trans" id="trans" value="trans"><label for="trans" class="highlight check_catagory">TRANSLATOR</label>

												<input class="category_checkbox" type="checkbox" name="market" id="market" value="market"><label for="market" class="highlight check_catagory">MARKETER</label>

												<input class="category_checkbox" type="checkbox" name="etc" id="etc" value="etc"><label for="etc" class="highlight check_catagory">ETC</label>

												<input class="category_checkbox" type="checkbox" name="category-check-all" id="category-check-all"><label for="category-check-all" class="highlight check_catagory">ALL</label>

											</div>


									</div>

							<div>
								<h4 class="ui left aligned header">DAY</h4>
							</div>
							<div class="inline field">						
									<div class="choose_content checkboxes">

										<input class="day_checkbox" type="checkbox" name="mon" id="mon" value="mon"><label for="mon" class="highlight check_day">Mon</label>

										<input class="day_checkbox" type="checkbox" name="tue" id="tue" value="tue"><label for="tue" class="highlight check_day">Tue</label>

										<input class="day_checkbox" type="checkbox" name="wed" id="wed" value="wed"><label for="wed" class="highlight check_day">Wen</label>

										<input class="day_checkbox" type="checkbox" name="thu" id="thu" value="thu"><label for="thu" class="highlight check_day">Thu</label>

										<input class="day_checkbox" type="checkbox" name="fri" id="fri" value="fri"><label for="fri" class="highlight check_day">Fri</label>

										<input class="day_checkbox" type="checkbox" name="sat" id="sat" value="sat"><label for="sat" class="highlight check_day">Sat</label>

										<input class="day_checkbox" type="checkbox" name="sun" id="sun" value="sun"><label for="sun" class="highlight check_day">Sun</label>

										<input class="day_checkbox" type="checkbox" name="day-check-all" id="day-check-all"><label for="day-check-all" class="highlight check_catagory">ANY DAY</label>

										</div>
									</div>

							<div>
								<h4 class="ui left aligned header">CONTRACT</h4>
							</div>
							<div class="inline field">

										<div class="ui transparent input">
											<input type="number" min="0" max="24" placeholder="12" id = "contract">
											<label>개월</label>
										</div>

									</div>

							<div>
								<h4 class="ui left aligned header">TIME</h4>
							</div>
							<div class="inline field">

										<div class="ui transparent input">
											<input type="number" min="0" max="24" placeholder="12" id = "start_time">
											<label>시 부터</label>
										</div>

										<div class="ui transparent input">
											<input type="number" min="0" max="24" placeholder="12" id = "end_time">
											<label>시 까지</label>
										</div>
										
										<div class="ui transparent input">
											<input type="number" min="0" max="12" placeholder="12" id = "end_time">
											<label>TOTAL TIME</label>
										</div>

									</div>
							
							<div>
								<h4 class="ui left aligned header">LOCATION</h4>
							</div>
							<div class="inline field">

										<div class="ui transparent input">
											<input type="text" id="city" placeholder="서울" onchange="checkFilled();">
											<label>시</label>
										</div>

										<div class="ui transparent input">
											<input type="text" id = "gu" placeholder="노원">
											<label>구</label>
										</div>

									</div>

							<div>
								<h4 class="ui left aligned header">WORK AT</h4>
							</div>
							<div class="inline field">

									<div class="choose_content checkboxes">

										<input class="workat_checkbox" type="checkbox" name="home" id="home" value="home"><label for="home" class="highlight check_day">HOME</label>

										<input class="workat_checkbox" type="checkbox" name="office" id="office" value="office"><label for="office" class="highlight check_day">OFFICE</label>

										<input class="workat_checkbox" type="checkbox" name="workat-check-all" id="workat-check-all"><label for="workat-check-all" class="highlight check_catagory">ANY WHERE</label>

										</div>
									</div>

							<div class="twenty wide field">
								<input type="submit" value="FIND">FIND KIM</input>
							</div>

						</form>
					</div>
				</div>
			</div>
			
			</div>
		</div>
	
	<!--section 2-->	
	<div class="section" id="section2">
		<div class="content">
			
			
			<div class="section_title">
				<div class="section2_title">
					<h1>RECOMMEND</h1>
				</div>
			</div>
				
			<div class="section2_content">
			<div class="tiles">			
				<article>
					<span class="image">
						<img src="assets/images/pic01.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="landing.html" class="link">Aliquam</a></h3>
						<p>Ipsum dolor sit amet</p>
					</header>
				</article>

				<article>
					<span class="image">
						<img src="assets/images/pic01.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="landing.html" class="link">Aliquam</a></h3>
						<p>Ipsum dolor sit amet</p>
					</header>
				</article>
				
				<article>
					<span class="image">
						<img src="assets/images/pic01.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="landing.html" class="link">Aliquam</a></h3>
						<p>Ipsum dolor sit amet</p>
					</header>
				</article>
				
				<article>
					<span class="image">
						<img src="assets/images/pic01.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="landing.html" class="link">Aliquam</a></h3>
						<p>Ipsum dolor sit amet</p>
					</header>
				</article>
				
				<article>
					<span class="image">
						<img src="assets/images/pic01.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="landing.html" class="link">Aliquam</a></h3>
						<p>Ipsum dolor sit amet</p>
					</header>
				</article>
				
				<article>
					<span class="image">
						<img src="assets/images/pic01.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="landing.html" class="link">Aliquam</a></h3>
						<p>Ipsum dolor sit amet</p>
					</header>
				</article>
			</div>
			</div>
			
		</div>
	</div>
	
	
	<!--section 3-->	
	<div class="section" id="section3">
		<div class="content">
			<h1>MAKER</h1>
		</div>
	</div>
    
</div>

</body>

</html>



