<h2>구인/구직 제출파일 </h2>

<form action="/fjob/create" method "get" >
        
   
    <!--포트폴리오 사진 url -->
      portfolio_img url:<br>
    <input type="text" name="fjob_portfolio_img"><br>
    
     <!--직군-->
    category:<br>
    <input type="checkbox" name="fjob_category" value ="creator"> Creator
    <input type="checkbox" name="fjob_category" value ="editor"> Editor
    <input type="checkbox" name="fjob_category" value ="designer"> designer
    <input type="checkbox" name="fjob_category" value ="photograhper"> producer
    <input type="checkbox" name="fjob_category" value ="translator"> translator
    <input type="checkbox" name="fjob_category" value ="marketer"> assistant
    <input type="checkbox" name="fjob_category" value ="writer"> writer
    <input type="checkbox" name="fjob_category" value ="etc"> etc<br>
    
    <!--경력 -->
    career: <br>
    <input type="text" name="fjob_career"><br>

   
   <!--계약기간 -->
    contract: <br>
     <input type="number" name="fjob_contract">개월<br>
    
   
    <!--근무 시간 -->
    <!--요일-->
    date: <br>
    <input type="checkbox" name="fjob_date" value ="monday"> 월요일
    <input type="checkbox" name="fjob_date" value ="tuesday"> 화요일
    <input type="checkbox" name="fjob_date" value ="wednesday"> 수요일
    <input type="checkbox" name="fjob_date" value ="thursday"> 목요일
    <input type="checkbox" name="fjob_date" value ="friday"> 금요일
    <input type="checkbox" name="fjob_date" value ="saturday"> 토요일
     <input type="checkbox" name="fjob_date" value ="sunday"> 일요일
    <br>
     <!--시간-->
    
     time: <br>
    start time:
      <input type="number" name="fjob_starttime" min="0" max="24">
    end time:
     <input type="number" name="fjob_endtime" min="0" max="24">
    <br>
    total time:
    <input type="number" name="fjob_timetotal" min="0" max="24"> 시간
    
    <br>
     <!--근무환경-->
      <!--재택근무여부-->
      home_environment: <br>
    <input type="checkbox" name="fjob_home_environment" value="1" > 재택근무<br>
    <input type="checkbox" name="fjob_home_environment" value="2" >출근<br>
    <input type="text" name="fjob_location"> 지역 / OO시 OO군<br>
  <button type="submit" class="btn btn-primary">제출</button>
</form>


<?php

  $aDoor = $_POST['formDoor'];

  if(empty($aDoor))
  {
    echo("You didn't select any buildings.");
  }

  else
  {
    $N = count($aDoor);
    echo("You selected $N door(s): ");

    for($i=0; $i < $N; $i++)
    {
      echo($aDoor[$i] . " ");
    }
  }
?>

