<html>

<head>
  <title>Find KIM_User</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  
  	<!-- semantic Ui -->
	<!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">-->
	<!--<link rel="stylesheet" type="text/css" href="../../assets/semantic2.css">-->
	<link rel="stylesheet" type="text/css" href="/assets/icon.css">
    <link rel="stylesheet" type="text/css" href="../../assets/detail.css">
  <script src="../../assets/semantic.js"></script>

<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
  </script>



<link rel="stylesheet" type="text/css" href="/assets/semantic2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/icon.css">
<link rel="stylesheet" type="text/css" href="/assets/style.css">




</head>
<body>
    
    <div id="fp-nav" class="right">
	<span data-menuanchor="firstPage" class="menu_object"><a href="/"><i class="home icon"></i></a></span>	
				

	<!--
	<span data-menuanchor="4thpage" class="menu_object"><a href="#4thpage"><i class="wrench icon"></i></a></span>
				
	<span data-menuanchor="" class="menu_object" id="category_popup"><a><i class="paperclip icon"></i></a></span>
	-->

	
	<span class="ui menu_object" ><a href="javascript:history.back()" id="back_button"><i class="chevron left icon"></i></a></span>
	
	<% if current_user.nil? == true %>
		<span data-menuanchor="" class="menu_object" id="login_popup">
			<a><i class="lock icon"></i></a>
		</span>
	<%else current_user.nil? == false %>
    <%if Fjob.exists?(current_user.id)==false%>
	    <span data-menuanchor="" class="menu_object" id="user_popup">
	    	<a href ="/fjob/new"><i class="user icon"></i></a>
	    </span>
    <%else%>
    	<span data-menuanchor="" class="menu_object">
      	<a href="/fjob/show/<%=current_user.id%>"><i class="user icon"></i></a>
      </span>
    <%end%>
      <span data-menuanchor="" class="menu_object">
       <a data-method="DELETE" href ="destroy_user_session_path"><i class="lock open icon"></i></a>
      </span>
    <%end %>
				
</div>
	
<!--navbar popup-->
<div class="ui login mini modal">
  
	<i class="close icon"></i>
   
	<div class="ui basic segment">
  	
		<div class="ui center aligned huge header">로그인</div>
			<%= render "devise/sessions/new" %>
		</div>
	</div>

    <div class = "full_container">
        <div class = "container" id = "header_container">
    <div class = "header"> 안녕 나는 완숙이야</div>
        </div>
 <div class="container" id = "content_container">
        
        
        
       <div class="ui cards">
            <div class="ui card">
                <div class="image">
                        <img src="../../assets/nan.jpg">
                </div>
                <div class="content">
                    <div class="header">완숙</div>
                    <div class="meta">
                        <a>Creator</a>
                    </div>
                    
                    <div class="description" id = "rating">
                        별4개
                    </div>
                    
                    <div class="description" id = "description">
                        멋져
                    </div>
                    <div class="description" id = "location">
                        활동장소
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
                        Joined in 2013
                    </span>
                    <span>
                        <i class="user icon"></i>
                        75 Friends
                    </span>
                </div>
           </div>
        </div>
        
        <div class ="www1" >
        <div class="ui top attached tabular menu">
          <a class="item active" data-tab="first">First</a>
          <a class="item" data-tab="second">Second</a>
          <a class="item" data-tab="third">Third</a>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="first">
          First
        </div>
        <div class="ui bottom attached tab segment" data-tab="second">
          Second
        </div>
        <div class="ui bottom attached tab segment" data-tab="third">
        Third
    </div>
        </div>
        
</div>
</div>
<!--        <div class="ui container">-->
  
<!--  <div class="header">-->
<!--    Profile Picture-->
<!--  </div>-->
  
  
<!--  <div class="image content">-->
<!--    <div class="ui medium image">-->
<!--      <div class="ui card">-->
<!--                <div class="image">-->
<!--                        <img src="../../assets/nan.jpg">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <div class="header">Matt Giampietro</div>-->
<!--                    <div class="meta">-->
<!--                        <a>Friends</a>-->
<!--                    </div>-->
<!--                    <div class="description">-->
<!--                        Matthew is an interior designer living in New York.-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="extra content">-->
<!--                    <span class="right floated">-->
<!--                        Joined in 2013-->
<!--                    </span>-->
<!--                    <span>-->
<!--                        <i class="user icon"></i>-->
<!--                        75 Friends-->
<!--                    </span>-->
<!--                </div>-->
<!--           </div>-->
<!--    </div>-->
<!--    <div class="description">-->
<!--        <div class =" www1" >-->
<!--            <div class="ui top attached tabular menu">-->
<!--              <a class="item active" data-tab="first">First</a>-->
<!--              <a class="item" data-tab="second">Second</a>-->
<!--              <a class="item" data-tab="third">Third</a>-->
<!--            </div>-->
<!--            <div class="ui bottom attached tab segment active" data-tab="first">-->
<!--              First-->
<!--            </div>-->
<!--            <div class="ui bottom attached tab segment" data-tab="second">-->
<!--              Second-->
<!--            </div>-->
<!--            <div class="ui bottom attached tab segment" data-tab="third">-->
<!--            Third-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--  </div>-->
  
<!--</div>-->
        
        

      
      
      <!--sementic UI-->			
  
<script>
    $('.menu .item')
  .tab()
;
</script>
      
      
    </body>
</html>