<!DOCTYPE html>
<html>
	
<head>
	
	<style>
		
		
	</style>
	
	
</head>

<body>

<!--navbar popup-->
<div class="ui first couple login mini modal">
  
	<i class="close icon"></i>
   
	<div class="ui basic segment">
  	
		<div class="ui center aligned huge header">로그인</div>
			<%= render "devise/sessions/new" %>
		</div>
		
		<div class="ui button">회원가입</div>
</div>
	
	
<div class="ui second couple signup mini modal">
  
	<i class="close icon"></i>
   
	<div class="ui basic segment">
		<div class="ui center aligned huge header">회원가입</div>
			
		</div>
</div>
	
	
<div class="ui category tiny modal">
  <i class="close icon"></i>
  <div class="image content">

    <div class="description">
      <div class="ui header">카테고리</div>
    </div>
  </div>
	
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>




<div class="ui longer modal">

<div class="header">Hi, I'm Kate Woodman</div>
	
  <div class="scrolling content">
				<img class="ui Huge centered rounded image" src = "assets/nan.jpg">
        <p>Web Designer &amp; Developer</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, magnam aut animi, excepturi voluptatum placeat dolor accusantium atque iure! Animi architecto eveniet voluptatum illo ut maiores sed, autem pariatur culpa?</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
        
        </div>
        
</div>






<%= yield %>


<!--jQuery CDN-->
<script
	src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous">
</script>	

	
<!--fullpage javascript-->
<script src="assets/javascript.fullPage.js"></script>

	
<!--sementic UI-->			
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>


<script type="text/javascript">
	
	//fullpage javascript
	fullpage.initialize('#fullpage', {
		anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
		menu: '#menu',
		css3:true
	});

	//navbar popup_semantic-UI
	$("#category_popup").click(function(){
  	$(".ui.tiny.category.modal").modal('show');});
	
	$('.coupled.modal')
  .modal({
    allowMultiple: false
  });
  //sign-up popup
  $('.second.modal')
  .modal('attach events', '.first.modal .button')
  //log-in popup
	$("#login_popup").click(function(){
 	$(".ui.first.mini.login.modal").modal('show');});
	
	$("#mypage_popup").click(function(){
    $('.ui.longer.modal')
        .modal('show')
    ;
});
	
	
	//login error_semantic-UI
	  $(document)
	    .ready(function() {
	      $('.ui.form')
	        .form({
	          fields: {
	            email: {
	              identifier  : 'email',
	              rules: [
	                {
	                  type   : 'empty',
	                  prompt : 'Please enter your e-mail'
	                },
	                {
	                  type   : 'email',
	                  prompt : 'Please enter a valid e-mail'
	                }
	              ]
	            },
	            password: {
	              identifier  : 'password',
	              rules: [
	                {
	                  type   : 'empty',
	                  prompt : 'Please enter your password'
	                },
	                {
	                  type   : 'length[6]',
	                  prompt : 'Your password must be at least 6 characters'
	                }
	              ]
	            }
	          }
	        })
	      ;
	    })
	  ;
  
	//section1_checkboxes are checked all
	//category checked all
	$('#category-check-all').click(function(event) {   
    if(this.checked) {
        // Iterate each checkbox
        $('input[class=category_checkbox]').each(function() {
            this.checked = true;                        
        });
    } else {
        $('input[class=category_checkbox]').each(function() {
            this.checked = false;                       
        });
    }
	});
	
	//day checked all
	$('#day-check-all').click(function(event) {   
    if(this.checked) {
        // Iterate each checkbox
        $('input[class=day_checkbox]').each(function() {
            this.checked = true;                        
        });
    } else {
        $('input[class=day_checkbox]').each(function() {
            this.checked = false;                       
        });
    }
	});
	
	//workat checked all
	$('#workat-check-all').click(function(event) {   
    if(this.checked) {
        // Iterate each checkbox
        $('input[class=workat_checkbox]').each(function() {
            this.checked = true;                        
        });
    } else {
        $('input[class=workat_checkbox]').each(function() {
            this.checked = false;                       
        });
    }
	});
	

	
</script>

</body>
</html>
